@page
@model RazorKhajaApp.Pages.KhajaModel
@{
}
<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">
            Hamro Khaja Ko Parikar Haru!
        </h1>
        <h4>Khaja ChannuHosh Aane Order Garnuhos</h4>
        <p class="smallText"><i>Ek Chote Ma, Eauta Matra Order Leeincha</i></p>
        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="~/Images/crop.jpg" class="w-100" />
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;">Create Your Own Khaja</h3>
                            <p style="text-align:left;">Make Your Own Khaja In Our Khaja Ghar!</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Forms/CustomKhaja">Try Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


